body { 

    background-color: white
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

    
    
        
}

header {
    
    background-color: #47A8BD;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    
    
}

header img {
    
    width: 100px;
    display: flex;
    margin: 0px auto;
    padding: 10px ;
}

button {
    text-align: justify;
    
    border-style: solid;
    border-color: white;
    background-color: #47A8BD;
    color: white
    

}


input {
    color: #54494B
}

h2 {
    color: #54494B
}

h3 {
    position:absolute;
    color: #54494B;
    margin: -30px auto;
    
}

section {
    display: flex;
    position: relative;
    
    
}

figcaption {
    text-decoration:none;
    color: rgb(5, 4, 4);
    font-style:bold;
    text-align: center;
    
    
}

footer {
    background-color: #47A8BD

 
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

img {
    height: 80px;
    display: block;
    margin: 0px auto;
}

main img {
    
    float:left;
    height: 500px;
    display:flex;
    margin: 80px auto;
}
